@import "style";

.button-slider {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.button--disabled {
  cursor: default;
  pointer-events: none;
  border-color: $color-dark-s;
  color: $color-dark-s;
}

.header {
  position: fixed;
  padding: 30px 0;
  background-color: $color-light-xl;

  &__title {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;
    }
  }

  &__subtitle {
    color: $color-dark-3xl;
  }
}

.heading--main {
  color: inherit;
}

.menu {
  @media (max-width: 767px) {
    background-color: $color-dark-s;
  }

  &__link {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;

      @media (max-width: 767px) {
        color: $color-light-s;
      }
    }
  }
}

.active {
  a {
    color: $color-dark-l;

    @media (max-width: 767px) {
      color: $color-light-s;
    }
  }
}

.burger__button {
  &::before,
  &::after,
  & span {
    background-color: $color-dark-l;
  }
}

.pets {
  padding: 120px 0 70px;

  @media (max-width: 767px) {
    padding-bottom: 37px;
  }

  &__container {
    margin-top: 60px;

    .button-container-multiple {
      margin-bottom: 6px;
    }

    @media (max-width: 767px) {
      margin-top: 42px;
    }
  }

  &__heading {
    margin-bottom: 45px;

    @media (max-width: 767px) {
      margin-bottom: 42px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    &__heading {
      margin: 20px 0 29px;
    }
  }
}

.cards {
  &__container {
    width: 100%;
    padding: 14px 0 15px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 25px;

    @media (min-width: 768px) and (max-width: 1279px) {
      padding: 0;
      margin-bottom: 40px;
      max-width: 81.9%;
      row-gap: 30px;
    }

    @media (max-width: 767px) {
      padding: 0;
      margin-bottom: 44px;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
}

.pet-card--disabled {
  @media (max-width: 767px) {
    display: none;
  }
}

.pet-card-23 {
  @media (min-width: 768px) and (max-width: 1279px) {
    display: none;
  }
}

.pet-card-24 {
  @media (min-width: 768px) and (max-width: 1279px) {
    display: none;
  }
}

.button-container-multiple {
  display: flex;
  gap: 20px;

  @media (max-width: 767px) {
    gap: 10px;
  }
}
