@import "_normalize";
@import "_fonts";

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

html,
body {
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;

  @media (min-width: 768px) and (max-width: 1279px) {
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0 10px;
  }
}

.heading--main {
  color: $color-primary;
}

._ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.h2 {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

.paragraph {
  margin: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-xl;
}

.paragraph--small {
  margin: 0;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $color-dark-m;
}

.button-container {
  max-width: fit-content;
  @media (max-width: 1279px) {
    margin: 0 auto;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 13px 44px;
  min-height: 50px;

  border-radius: 100px;
  color: $color-dark-3xl;
  cursor: pointer;

  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.06em;

  @media (min-width: 768px) and (max-width: 1279px) {
    line-height: 130%;
  }
}

.button--filled {
  background-color: $color-primary;
  border: none;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $color-primary-light;
  }

  &--round {
    pointer-events: none;
    width: 52px;
    height: 52px;
    padding: 0;
  }
}

.button--border {
  border: 2px solid $color-primary;
  background-color: transparent;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in;

  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }

  &--round {
    width: 52px;
    height: 52px;
    padding: 0;
  }
}

//-------------CONTENT---------------------
.header {
  position: absolute;
  width: 100%;
  padding: 60px 0;
  z-index: 10;

  @media (max-width: 1279px) {
    padding-top: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
  }

  &__title {
    margin: 0 0 10px;
    height: 35px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    line-height: 110%;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    margin: 0 0 0 4px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  &__menu {
    margin-top: 15px;

    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      right: -100%;
      width: 320px;
      height: 100vh;
      margin-top: 0;
      z-index: 5;
      background-color: $color-dark-3xl;
      transition: right 0.3s ease-out;

      &.menu--active {
        right: 0;
      }

      .menu {
        &__list {
          margin-top: 50%;
          flex-direction: column;
          align-items: center;
        }

        &__item {
          height: 54px;
          box-sizing: border-box;

          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 40px;
          }
        }

        &__link {
          font-size: 32px;
          line-height: 160%;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 2;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &__active {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
  }
}

.burger__button {
  display: none;
  position: absolute;
  z-index: 5;
  right: 53px;
  top: 49px;
  width: 30px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-out;

  &::before,
  &::after,
  & span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: $color-primary;
  }

  &::before {
    content: "";
    top: 0;
  }

  &::after {
    content: "";
    bottom: 0;
  }

  & span {
    top: 50%;
    transform: translateY(-50%);
  }

  &.menu--active {
    transform: rotate(90deg);
  }

  @media (max-width: 767px) {
    display: block;
  }
}

.menu {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: 28px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  &__link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-light-s;
    }
  }
}

.active {
  border-bottom: 3px solid $color-primary;

  a {
    color: $color-light-s;
  }

  &:hover {
    border: none;
  }
}

// --------------------MAIN-------------------------

.main {
  flex: 1 1 auto;
}

.start-screen {
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 180px;
    z-index: 5;

    // @media (min-width: 768px) and (max-width: 1279px) {
    @media (max-width: 1279px) {
      flex-direction: column;
      align-items: center;
      padding-top: 150px;
      gap: 100px;
    }
  }

  &__content {
    max-width: 460px;
    padding-top: 163px;

    & > *:not(:last-child) {
      margin-bottom: 42px;
    }

    @media (max-width: 1279px) {
      max-width: 64.9%;
      padding-top: 0;
    }

    @media (max-width: 767px) {
      max-width: 93.7%;
    }
  }

  &__h2 {
    max-width: 310px;
    font-size: 44px;
    letter-spacing: 0;
    color: $color-light-xl;

    @media (max-width: 767px) {
      font-size: 25px;
      text-align: center;
    }
  }

  &__caption {
    color: $color-dark-s;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__img {
    max-height: 728px;
    align-self: flex-end;

    @media (max-width: 1279px) {
      max-width: 569px;
      width: 81.25%;
    }
  }
}

.about {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 80px 0 100px;

    @media (min-width: 768px) and (max-width: 1279px) {
      flex-direction: column-reverse;
      gap: 80px;
    }
  }

  &__content {
    max-width: 430px;

    @media (min-width: 768px) and (max-width: 1279px) {
      max-width: 60.7%;
    }

    & > *:not(:last-child) {
      margin-bottom: 25px;
    }

    & > *:first-child {
      margin-bottom: 24px;
    }
  }

  &__h2 {
    max-width: 310px;
  }

  &__quotation {
    display: inline-block;
    position: relative;
    top: -2px;
    letter-spacing: 1px;
  }
}

.pets {
  padding: 80px 0 100px;
  background-color: $color-light-l;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    max-width: 400px;
    margin-bottom: 59px;
    text-align: center;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-bottom: 59px;

    @media (max-width: 830px) {
      gap: 12px;
    }

    .button-container {
      margin: 0;
    }
  }
}

.silder__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 990px;

  @media (max-width: 830px) {
    justify-content: space-between;
  }
}

.pet-card {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 9px;
  transition: background-color 0.3s ease-in-out;

  & > * {
    margin-bottom: 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;

    .button--border {
      border: 2px solid $color-primary;
      border-color: $color-primary-light;
      background-color: $color-primary-light;
      transition: background-color 0.2s ease-in;
    }
  }

  .button-container {
    margin-bottom: 30px;
  }
}

.pet-card-13 {
  @media (max-width: 1279px) {
    display: none;
  }
}

.pet-name {
  margin-top: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

.help {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0 100px;
  }

  &__heading {
    margin-bottom: 60px;
    text-align: center;
  }

  &__list-container {
    max-width: 1026px;

    @media (min-width: 768px) and (max-width: 1279px) {
      padding: 0 39px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 117px;

    @media (min-width: 768px) and (max-width: 1279px) {
      justify-content: space-between;
      column-gap: 60px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 113px;

    @media (max-width: 980px) {
      width: 170px;
    }

    .item {
      &__icon {
      }

      &__name {
        margin: 0;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }
    }
  }
}

.donation {
  background-color: $color-light-l;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px;
    gap: 30px;

    @media (max-width: 1075px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 60px;
    }
  }

  &__img {
  }

  &__content {
    max-width: 380px;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__h2 {
    max-width: 300px;
  }

  &__caption {
    margin: 0;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  &__credit-container {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: $color-primary;
    border-radius: 9px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__card-number {
    display: inline-block;
    margin: 0;
    padding-left: 15px;
    letter-spacing: 0.06em;
    color: inherit;
  }
}

.footer {
  position: relative;
  padding-top: 40px;

  @media (min-width: 768px) and (max-width: 1279px) {
    padding-top: 30px;
  }

  &__container {
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 30px;

    @media (min-width: 768px) and (max-width: 1279px) {
      padding: 0 64px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 60px;
    max-width: 300px;
    height: 234px;

    &:first-child {
      width: 279px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      padding-top: 0;
      margin-bottom: 65px;
      height: 232px;
    }
  }

  &__h2 {
    color: $color-light-xl;
  }

  &__dog {
    @media (max-width: 1070px) {
      margin: auto;
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 20px;

  &__content {
    margin: 0;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
}

// sass --watch shelter/styles/sass/style.scss shelter/styles/css/style.css
// sass --watch shelter/styles/sass/pets.scss shelter/styles/css/pets.css
